/* resetting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Main palette*/
    --white: #ffffff;
    --dark-brown : #3E350E;
    --dark-yellow: #DAAD29;
    --grey: #EAE9E7;
    --brown: #794515;
    --green: #79792E;
    --light-yellow:#F2DD6C;
    --dark-gray: #C4BEAD;

    /*Hover*/
    --text-white-hover:#4fbabf;
}

body{
    width: 100vw;
    height: 100vh;
}

#app{
    height: 100%;
    width: 100%;
}

.chat-page{
    height: 100%;
    width: 100%;
    display: flex;
}

.text{
    font-family: 'Anonymous Pro';
}

.title,.subtitle{
    font-family: 'Plus Jakarta Sans';
}

.action-btn{
    all: unset;
    font-family: 'Plus Jakarta Sans';
    background-color: var(--green);
    color: var(--white);
    height: 45px;
    width: 43px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn:hover{
    background-color: var(--dark-brown);
}

.contact-sidebar{
    height: 100%;
    color: var(--white);
    width: 12rem;
    background-color: var(--brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    gap: 3rem;
}

.right-side-chat{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.user-upper-bar{
    width: 100%;
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 0.5rem;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;

}

.chat-area {
    flex: 1;
    min-height: 0; 
    overflow-y: auto;
    background-color: var(--grey);
}

.output-bar {
    width: 100%;
    flex-shrink: 0;
    background-color: var(--grey);
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: space-between;

} 

.user-upper-bar .action-btn{
    width: auto;
    padding: 0 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.output-buttons{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.input-bar{
    all: unset;
    flex: 1;
    background-color: var(--dark-gray);
    border-radius: 10px;
    font-family: 'Plus Jakarta Sans';
    padding: 0.5rem;
}

.btn-icon{
    width: 1.2rem;
}

.group-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.group-header .action-btn{
    width: 2.5rem;
    height: 2.5rem;
}